html, body {
    scroll-behavior: smooth;
    scroll-padding-top: 2.5em;
  }

body {
    margin: 0px;
    width: 100%;
    padding: 0px;
    height: 100em;
}

main {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto;
}

header {
    width: 100%;
    height: 2.4em;
}

section {
    width: 100%;
}


.logo {
    font-family: monospace;
    font-size: 26px;
    position: relative;
    bottom: 0.1em;
    text-align: center;
}

.logo a {
    text-decoration: none;
    color: rgb(181 181 181 / 62%);
    font-weight: bold;
    position: relative;
    left: -0.2em;
    text-align: center;
    top: 0.27em;
}

.logo b {
    color: #ffffff94;
    text-align: right;
    width: auto;
    position: absolute;
    top: 32.1%;
    font-size: 15px;
}

strong {
    color: #ffffff;
}

.cor-destaque {
    color: #ff7e00!important;
}


