body {
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;

}

header {
    width: 100%;
    height: auto;
}

section {
    width: 100%;
    height: auto;
}

ul li {
    display: inline-block;
    margin: 0em 0.3em;
}

.logo {
    font-family: monospace;
    font-size: 2.5em;
    text-align: left;
    position: relative;
}

.logo a {
    text-decoration: none;
    float: left;
    height: 100%;
    color: rgb(193 193 193);
    font-weight: bold;
    width: 100%;
    left: 1em;
    position: relative;
}

@media (max-width: 1024px) {
    .logo {
        font-family: monospace;
        font-size: 2em;
        float: left;
        position: relative;
        text-align: center;
    }
    
    .logo a {
        text-decoration: none;
        float: left;
        height: 100%;
        color: rgb(193 193 193);
        width: 100%;
        position: relative;
        top: 0.1em;
    }
}