html, body, .container-ebooks {
    scroll-behavior: smooth;
    scroll-padding-top: 5%;
  }

body {
    margin: 0px;
    width: 100%;
    padding: 0px;
    height: 100em;
}

main {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto;
}

header {
    width: 100%;
    height: 2.4em;
}

section {
    width: 100%;
}


.logo {
    font-family: monospace;
    font-size: 26px;
    text-align: center;
    position: relative;
    bottom: 0.1em;
}

.logo a {
    text-decoration: none;
    color: rgb(181 181 181 / 62%);
    font-weight: bold;
    position: relative;
    left: 0.8em;
    text-align: center;
    top: 0.27em;
}

strong {
    color: #ffffff;
}

.cor-destaque {
    color: #ff7e00!important;
}

@media (max-width: 1024px) {

    .logo {
        font-family: monospace;
        font-size: 26px;
        float: left;
        position: relative;
        text-align: center;
        height: 89%;
        top: 0.3em;
        left: 0.6em;
    }
    
    .logo a {
        text-decoration: none;
        float: left;
        height: 94%;
        color: rgb(193 193 193);
        width: 100%;
        position: relative;
        left: 0em;
        top: -0.1em;
    }
}

