.menu-principal {
    position: fixed;
    width: 100%;
    height: 2.4em;
    background: radial-gradient(#214c8b, #1d375c 100%);
    border-bottom: 3px solid #34477a;
    display: grid;
    grid-template-columns: auto auto auto;
    z-index: 999;
}

.menu-urls {
    text-align: right;
    margin-top: -1em;
}

.menu-urls ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: monospace;
    font-size: 1.4em;
    margin: 0.1em;
    position: relative;
    padding-bottom: 0.5em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.menu-urls ul {
    position: relative;
    margin: 0 auto;
    padding: 0em;
    width: 88%;
    display: flex;
    top: 44%;
}

.menu-urls ul li {
    display: inline-block;
    margin: 0em 0.3em;
}


.menu-urls a:hover {
    background-color: #37497a;
    color: rgb(255, 255, 255);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.sociais {
    position: relative;
    text-align: right;
}

.sociais ul li img {
    width: auto;
    height: 25px;
    padding: 0px 4px;
}

.sociais ul {
    position: relative;
    right: 1.7em;
    margin: 0 auto;
    top: 0.5em;
}

.busca {
    position: relative;
    text-align: left;
    width: 6em;
    height: 2em;
    top: 0.5em;
}

.busca input {
    border-radius: 12px;
    background-color: transparent;
    border: 0px solid #c9cacc;
    color: #ffffff;
    position: relative;
    top: 0;
    width: 5em;
    font-family: monospace;
    font-size: 1.4em;
    cursor: pointer;
}

.busca:hover {
    background-color: #37497a;
    color: rgb(255, 255, 255);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.busca input:focus {
    outline: none;
    width: 12em;
    height: 1.6em;
    text-align: left;
    cursor: text;
    background-color: #37497a;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


.busca input::placeholder {
    color: #ffffff;
    text-align: center;
}

.busca input:focus::placeholder {
    color: transparent;
}

.botao-menu {
    display: none;
    z-index: 999;
}

.botao-menu img {
    width: 70%;
    height: 70%;
    position: relative;
    display: block;
    top: 0.4em;
    left: 0.3em;
}

input[type="checkbox"] {
    display: none;
}

.menu-content {
    margin: 0px 37.5%;
    width: 25%;
    text-align: center;
    border-bottom: 1px solid #0c79c7;
}

.menu-content button {
    background-color: transparent;
    border: 0;
    font-family: monospace;
    cursor: pointer;

}

.menu-content button:hover,
.menu-content button:hover a {
    color: #0c79c7;
}

.menu-content button:hover+.categorias {
    display: block;
}

