.menu-principal {
    position: fixed;
    width: 100%;
    height: 39px;
    background: #001e4a;
    border-bottom: 3px solid #37497a;
    display: grid;
    grid-template-columns: auto auto 25% auto;
    z-index: 999;
}

.menu-urls{
    text-align: right;
}

.menu-urls a {
    text-decoration: none;
    color: #c1c1c1;
    font-family: monospace;
    font-size: 1.4em;
    margin: 0.1em;
    position: relative;
    top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.menu-urls a:hover{
    background-color: #37497a;
    color: rgb(255, 255, 255);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}

.sociais {
    position: relative;
    text-align: right;
}

.sociais ul li img {
    width: auto;
    height: 25px;
    padding: 0px 4px;
}

.sociais ul {
    position: relative;
    right: 1.7em;
    margin: 0 auto;
    top: 0.5em;
}

.busca {
    position: relative;
    text-align: left;
    width: 6em;
    height: 2.1em;
    top: 0.5em;
    left: 0.5em;
}

.busca input {
    border-radius: 12px;
    background-color: transparent;
    border: 0px solid #c9cacc;
    color: #ffffff;
    position: relative;
    top: 0;
    width: 5em;
    font-family: monospace;
    font-size: 1.4em;
    cursor: pointer;
}

.busca:hover {
    background-color: #37497a;
    color: rgb(255, 255, 255);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.busca input:focus {
    outline: none;
    width: 12em;
    height: 1.6em;
    text-align: left;
    cursor: text;
    background-color: #37497a;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}



.busca input::placeholder {
    color: #c9cacc;
    text-align: center;
}
.busca input:focus::placeholder{
    color: transparent;
}

.botao-menu {
    display: none;
}



@media(max-width: 972px) {
    .menu-principal {
        position: fixed;
        width: 100%;
        height: 2.5em;
        background: #253666;
        display: grid;
        grid-template-columns: auto 2em;
    }

    .menu-urls {
        display: none;
    }

    .botao-menu {
        background-color: #17223f73;
        text-align: center;
        border-left: 1px solid #ffffff54;
        display: block;
        height: 88%;
    }

    .botao-menu button {
        color: #c9cacc;
        font-family: sans-serif;
        margin: 0 auto;
        position: relative;
        cursor: pointer;
        background: transparent;
        border-style: none;
        font-size: 1em;
        width: 100%;
        height: 100%;
    }

    .botao-menu button:focus {
        background-color: #d6d0d04f;
    }

    .sociais {
        display: none;
        position: relative;
        text-align: right;
    }

    .sociais ul li img {
        width: auto;
        height: 25px;
        padding: 0px 4px;
    }

    .sociais ul {
        position: relative;
        right: 1.7em;
        margin: 0 auto;
        top: 0.5em;
    }

    .busca {
        display: none;
        text-align: center;
        position: relative;
    }

    .busca input {
        border-radius: 12px;
        background-color: #ffffff24;
        border: 1px solid #c9cacc;
        color: #ffffff;
        position: relative;
        top: 20%;
        text-align: center;
    }
}